h1,h2,h3,h4,li,p,button,input,label {
	font-family: 'Barlow', sans-serif;
	line-height: 20px;
	font-size: 18px;
	font-weight: normal;
}

input,textarea,select,button {
	outline: none;
}

.price {
	display: none;
}

ul {
	list-style: none;
}

.disableScroll {
	overflow: hidden;
}

.sauzenNo {
	display: none;
}

#login {
	background-color: #171B36;
	section{
		padding: 20px 40px;
		background-color: rgb(214, 214, 214);
		border-radius: 5px;
		border: 2px solid #9ea1ff4b;
		box-shadow: 0px 0px 10px rgba(143, 188, 255, 0.459);
		position: absolute;
		width: fit-content;
		top: 50%;
		left: 50%;
		-ms-transform: translate(-50%, -60%);
		transform: translate(-50%, -60%);
		h1{
			text-align: center;
			margin-bottom: 20px;
		}
		form{
			background-color: rgb(214, 214, 214);
			input{
				display: block;
				margin: 22px;
			}
			.submitLogin{
				position: relative;
				margin-top: 25px;
				margin-left: auto;
				margin-right: auto;
				background-color: #009821;
				padding: 10px 20px;
				border-radius: 5px;
				color: white;
			}
		}
	}	
}
@media (min-width: 900px){
	#mainPage{
		overflow-x: hidden;
		aside{
			right: 0;
		}
		.closedReceipt{
			right: 0;
		}
		.popupHeader{
			margin-left: 80px;
			h2 {
				font-size: 40px;
				line-height: 40px;
			}
			.smallPicture{
				margin-right: 30px;
			}
		}
		.options{
			margin-left: 80px;
			margin-right: 80px;
			margin-bottom: 80px;
			display: flex;
			.quantityFieldset{
				label{
					margin: 10px;
				}
			}
			.sausLabel {
				margin: 10px;
			}
		}
		fieldset:nth-of-type(2){
			margin-left: 90px;
		}
		.addToCart{
			width: 934px;
			font-weight: 600;
			bottom: 0;
			margin-bottom: 60px;
		}
	}
}
@media (max-width: 900px){
	#mainPage{
		header{
			ul{
				top: 0.1em;
				overflow-x: scroll;
			}
		}
		.closedReceipt{
			right: -20em;
		}
		.openReceipt{
			right: 0;
		}
		#productPopup {
			top: 0;
		}
		.popupHeader{
			position: relative;
			top: -100px;
			margin-left: 20px;
			margin-bottom: 0;
			width: 80vw;
			.smallPicture{
				margin-right: 5px;
			}
		}
		.options{
			position: relative;
			top: -100px;
			.quantityFieldset{
				label{
					margin-left: 30px;
				}
			}
		}
		.quantity{
			margin-left: 20px;
		}
		.sauzen{
			overflow-y: scroll;
			height: 300px;
			position: relative;
			left: 40px;
		}
		.sauzenGroot{
			overflow-y: scroll;
			height: 300px;
			position: relative;
			left: 40px;
			z-index: 10;
		}
		.addToCart {
			width: 80vw;
			margin-bottom: 60px;
			bottom: -40px;
			font-weight: 300;
	}
}
}

#mainPage {
	header {
		ul {
			width: 100vw;
			padding-top: 1em;
			padding-left: 0.8em;
			padding-bottom: 1em;
			position: fixed;
			display: flex;
			flex-direction: row;
			z-index: 1;
			background-color: white;
 
			.is-active {
				border: 2px solid white;
				box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
			}

			li {
				padding: 14px 0px;
				margin-right: 10px;
				margin-left: 10px;
				font-weight: bold;
				color: #171B36;
				border: solid transparent 2px;
				border-radius: 5px;

				&:hover {
					border: 2px solid white;
					box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
				}

				a {
					padding: 14px 25px;
					text-decoration: none;
					color: black;
					cursor: pointer;

					&:hover {
						color: black;
						text-decoration: none;
					}
				}
			}
		}
	}

	section:first-of-type {
		position: relative;
		max-width: 60%;
		top: 100px;

		.is-active {
			display: block;
		}

		div {
			display: none;

			article {
				border-right: solid rgba(0, 0, 0, 0.1) 1px;
				border-bottom: solid rgba(0, 0, 0, 0.1) 1px;
				width: 298px;
				height: 298px;
				cursor: pointer;

				img {
					display: block;
					margin-top: 40px;
					margin-left: auto;
					margin-right: auto;
					height: 150px;
				}

				h2 {
					text-align: center;
					font-weight: 600;
					font-size: 18px;
				}

				p {
					text-align: center;
				}
			}
		}
	}

	.popupDisabled {
		display: none;
	}

	.popupEnabled {
		display: block;
	}

	#productPopup {
		z-index: 3;
		position: fixed;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.5);
		backdrop-filter: blur(10px);

		.popupScreen {
			z-index: 4;
			position: relative;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 90%;
			height: 90%;
			background-color: white;
			border-radius: 10px;

			.popupHeader {
				display: flex;
				margin-bottom: 20px;
				.smallPicture {
					max-height: 80px;
					margin-top: 60px;
				}
				h2{
					margin-top: 80px;
					font-weight: 600;
				}
			}

			button {
				background: none;
				border: none;
			}

			.closePopupButton {
				position: relative;
				float: right;
				left: auto;
				margin: 20px;
				z-index: 5;
				.closePopupIcon {
					fill: #CCCCCC;
					height: 35px;
				}
			}

			form {
				fieldset:first-of-type {
					width: fit-content;
					margin-right: 60px;
					
					.quantity {
						display: flex;

						.quantityError {
							border: 3px solid red;
							transition: 200ms;
						}

						input {
							transition: 1s;
							height: 100px;
							width: 100px;
							margin: 10px;
							text-align: center;
							border-radius: 10px;
							border: 2px solid #867d7d;
							font-weight: 600;
							font-size: 30px;
						}

						input::-webkit-outer-spin-button,
						input::-webkit-inner-spin-button {
							-webkit-appearance: none;
							margin: 0;
						}

						div {
							position: relative;
							width: fit-content;
							margin: 10px;

							button {
								margin: 5px;
							}
						}
					}
				}

				fieldset:nth-of-type(2) {
					.sausList {
						display: flex;
						flex-wrap: wrap;
						position: relative;
						bottom: 45px;
					}

					input:checked+label {
						border: 2px solid #009821;
						background-color: #7eff9a27;
					}

					input {
						display: none;
					}

					.sausjes {
						margin: 10px;
						width: 200px;
						height: 100px;
						border: 2px solid #E4E4E4;
						border-radius: 10px;
						display: flex;

						img {
							border-radius: 50%;
							height: 80px;
							margin: 10px;
						}

						h4 {
							height: fit-content;
							margin-top: 20px;
							font-weight: 600;
							text-overflow: ellipsis;
							overflow: hidden;
							white-space: nowrap;
							width: 90px;
						}

						span {
							height: fit-content;
							position: relative;
						}

						;
					}

					.none {
						position: relative;
						bottom: 44px;
						left: 105px;

						label {
							border: 2px solid #E4E4E4;
							border-radius: 10px;
						}

						h4 {
							margin: 10px;
							font-weight: 600;
						}
					}

					.selected {
						border: 2px solid #009821;
						background-color: #7eff9a27;
					}

					.infoChoices {
						display: block;
					}
				}

				button {
					display: block;

					svg {
						position: relative;
						height: 35px;
						width: auto;
					}
				}

				.addToCart {
					position: absolute;
					background-color: #009821;
					margin-left: auto;
					margin-right: auto;
					left: 0px;
					right: 0px;
					border-radius: 10px;
					height: 90px;
					text-align: center;
					align-items: center;
					color: white;
					font-size: 25px;
					line-height: 90px;
					transition: 200ms;
					svg {
						fill: white;
						margin-right: 5px;
						top: 8px;
					}
				}

				.buttonClicked {
					background-color: #006d18;
					transition: 200ms;
				}
			}
		}
	}

	.toOrderPage {
		position: fixed;
		bottom: 0px;
		margin: 20px;

		div {
			border-radius: 50%;
			height: 80px;
			width: 80px;
			background-color: white;
			border: 2px solid #1718364b;
			box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.205);

			svg {
				position: relative;
				left: 4px;
				top: 3px;
				padding: 10px;
				height: 65px;
				width: 65px;
			}
		}

		span {
			position: absolute;
			left: -4px;
			bottom: -4px;
			color: white;
			background-color: #171836;
			border-radius: 50%;
			padding: 5px;
			width: 30px;
			height: 30px;
			text-align: center;
		}
	}

	aside {
		overflow: hidden;
		z-index: 2;
		position: fixed;
		width: 300px;
		height: 100%;
		background-color: #171836;
		top: 0;
		color: white;

		div:first-of-type {
			overflow-y: scroll;
			height: 58vh;

			&::-webkit-scrollbar {
				display: none;
			}
		}

		h1 {
			padding-top: 6px;
			padding-left: 25px;
			padding-bottom: 40px;
			font-size: 24px;
			font-weight: 600;
		}

		article:first-of-type {
			padding-top: 0px;
		}

		article {
			border-bottom: solid rgba(255, 255, 255, 0.2) 1px;
			margin-left: 15px;
			margin-right: 10px;
			display: flex;
			padding-bottom: 10px;
			padding-top: 20px;

			span {
				font-size: 18px;
				font-weight: 500;
			}

			ul {
				padding-left: 20px;

				li:first-of-type {
					font-weight: 700;
					font-size: 18px;
					overflow: hidden;
					text-overflow: ellipsis;
					white-space: nowrap;
					max-width: 160px;
				}

				li {
					line-height: 22px;
					font-weight: 500;
					font-size: 16px;
				}
			}

			p {
				margin-left: auto;
				margin-right: 15px;
				font-weight: 500;
				font-size: 14px;
			}

			button {
				background-color: transparent;
				border: none;
			}
		}

		article:last-of-type {
			border-bottom: none;
		}

		div:last-of-type {
			z-index: 3;
			position: absolute;
			background: rgba(255, 255, 255, 0.2);
			width: 300px;
			bottom: 0px;
			p.total {
				position: relative;
				left: 5px;
				margin: 25px;
				color: white;
				font-size: 20px;
				font-weight: 600;
				span {
					color: white;
				}
			}
			input{
				position: relative;
				left: 5px;
				width: 250px;
				height: 58px;
				display: flex;
				padding: 17px 20px;
				border-radius: 5px;
				color: black;
				font-size: 20px;
				font-weight: 600;
				margin: 0px 10px;
			}
			img {
				position: relative;
				margin: 4px 0px 5px 80px;
				bottom:37px;
				left:140px
			}
		}
	}
}

#orderPage {
	overflow-y: hidden;
	overflow-x: hidden;
	header {
		ul {
			width: 100%;
			display: flex;
			padding: 0;

			li {
				width: 50%;
				background-color: #45465E;
				padding: 20px 0px;
				font-weight: bold;
				color: rgb(230, 230, 230);
				text-align: center;
			}

			.selectedList {
				background-color: #171836;
				color: white;
			}
		}
	}

	.flexOrderList {
		display: flex;
		overflow-x: scroll;
	}

	.hideList {
		display: none;
	}
	.showButton{
		display: block;
	}

	#openOrder,#closedOrder {
		color: black;
		margin: 10px;
		white-space: nowrap;	
		overflow-x: scroll;
		-webkit-overflow-scrolling: touch;

		.receipts {
			margin: 10px;
			padding: 10px;
			overflow-y: scroll;
			height: 78vh;
			background-color: rgb(214, 214, 214);
			border-radius: 5px;
			min-width: 300px;

			&::-webkit-scrollbar {
				display: none;
			}
			.receiptHeight{
				overflow-y: scroll;
				height: 58vh;
			}
		}

		h1 {
			padding-top: 6px;
			padding-left: 25px;
			padding-bottom: 40px;
			font-size: 24px;
			font-weight: 600;
		}

		article:first-of-type {
			padding-top: 0px;
		}

		article {
			border-bottom: solid black 1px;
			margin-left: 15px;
			margin-right: 10px;
			display: flex;
			padding-bottom: 10px;
			padding-top: 20px;

			span {
				font-size: 18px;
				font-weight: 500;
			}

			ul {
				padding-left: 20px;

				li:first-of-type {
					font-weight: 700;
					font-size: 18px;
					overflow: hidden;
					text-overflow: ellipsis;
					white-space: nowrap;
					max-width: 160px;
				}

				li {
					line-height: 22px;
					font-weight: 500;
					font-size: 16px;
				}
			}

			p {
				margin-left: auto;
				margin-right: 15px;
				font-weight: 500;
				font-size: 14px;
			}

			button {
				background-color: transparent;
				border: none;
			}
		}
		.totalDisplayClosed{
			position: relative;
			bottom: 80px;
		}
		.totalDisplay{
			position: relative;
			bottom: 150px;		
			.total{
				left: 20px;
			}
		}
		article:last-of-type {
			border-bottom: none;
		}

		p.total {
			position: relative;
			left: 5px;
			margin: 25px;
			font-size: 20px;
			font-weight: 600;
		}
		button {
			width: 250px;
			height: 58px;
			display: flex;
			padding: 17px 20px;
			border-radius: 5px;
			margin-left: auto;
			margin-right: auto;
			margin-bottom: 25px;

			p {
				color: black;
				font-size: 20px;
				font-weight: 600;
				margin: 0px 10px;
			}

			img {
				position: relative;
				margin: 4px 0px 5px 80px
			}
		}
	}

	.toOrderPage {
		position: fixed;
		bottom: 0px;
		margin: 20px;

		div {
			border-radius: 50%;
			height: 80px;
			width: 80px;
			background-color: white;
			border: 2px solid #1718364b;
			box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.205);

			svg {
				position: relative;
				left: 4px;
				top: 3px;
				padding: 10px;
				height: 65px;
				width: 65px;
			}
		}
	}

	.export, .logout{
		position: fixed;
		margin: 20px;
		right: 0px;
		bottom: 0px;
		input{
			height: 80px;
			padding: 10px 40px;
			width: 160px;
			border: 2px solid #1718364b;
			border-radius: 5px;
			box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.205);
			font-family: 'Barlow', sans-serif;
			line-height: 20px;
			font-size: 18px;
			font-weight: 600;
			color: white;
		}
	}
}
.logout input{
	background-color: rgb(255, 0, 0);
}
.export input{
	background-color: #171836;
}
.alertMessage{
	z-index: 10;
	padding: 20px 40px;
	width: 20em;
	position: absolute;
	right: 0;
	top: 10px;
	border-radius: 4px;
	opacity: 0;
	span{
		color: white;
	}
}
.Succes{
	background:green;
	border-left: 8px solid #20ff02;
}
.Failed{
	background: red;
	border-left: 8px solid rgb(243, 102, 102);
}
.showMessage{
	  animation: show_slide 3s ease ;
}
@keyframes show_slide {
  0%{
	opacity: 0;
  }
  30%{
	opacity: 100%
  }
  70%{
	opacity: 100%
  }
  100%{
	opacity: 0;
  }
}
.hideMessage{
	opacity: 0;
}

